<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유여름 - 프론트엔드 / 웹퍼블리셔</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Song+Myung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/set.css">
    <link rel="stylesheet" href="/css/animate.css">
</head>
<body>
    <%- include("header.ejs") %>
    <div id="section1">
        <div class="center">
            <div class="main_left">
                <h2 style="padding-bottom: 10px;" class="animated 1 flipInX delay-0.3s" >안녕하세요 !</h2>
                <h1 class="animated 1 fadeInDown delay-1s">저는 프론트엔드 개발자</h1>
                <h1 class="animated 1 fadeInDown delay-1s">
                    <span>유여름</span> 입니다
                </h1>
                <h2 style="padding-top: 15px;" class="animated 1 fadeInDown delay-2s">사용자들의 편의성을 고려한 웹사이트를 개발합니다</h2>
                <p class="animated 1 fadeInDown delay-3s">웹접근성, 웹표준을 준수하여 마크업을 작성합니다.</p>
                <p class="animated 1 fadeInDown delay-3s">EJS 템플릿 엔진과 Git을 활용한 버전 관리 및 협업 프로세스를 경험이 있습니다.</p>
                <p class="animated 1 fadeInDown delay-3s">자바스크립트와 기본 웹 기술에 익숙하며, HTML5, CSS, SCSS 등을 다룰 수 있습니다.</p>
            </div>
            <div class="main_right">
                <img class="animated infinite flash slower 1000s" style="animation-duration: 7s;" src="/img/visual_bg.png">
            </div>
        </div>
    </div>
    <div id="section2">
        <div class="center">
            <h2>섹션 2 표시용</h2>
        </div>
    </div>
    <div id="section3">
        <div class="center">
            <h2>섹션 3 표시용</h2>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>