#header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 99;
}
#header .center {
  height: 130px;
  align-items: center;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
#header .center .logo {
  filter: invert(100%);
}
#header .center .logo img {
  width: 50%;
  height: 20%;
}
#header .center .gnb {
  display: flex;
}
#header .center .gnb li {
  margin: 0 20px;
  font-size: 14px;
}
#header .center .gnb li a {
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s;
}
#header .center .gnb li a span {
  position: relative;
  font-weight: normal;
  color: rgb(190, 52, 85);
  font-style: 12px;
}
#header .center .gnb li.on a span::before {
  content: "";
  top: -52%;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  background: radial-gradient(circle, rgb(195, 52, 80) 0%, rgb(0, 0, 0) 100%);
  animation: lookonpage 0.4s linear infinite alternate;
}

@keyframes lookonpage {
  0% {
    top: -52%;
  }
  100% {
    top: -82%;
  }
}